body{font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}

.hero{
    width: 100%;
    border-radius: 5px;

    
}

.specs{
        font-size: 40px;
        width: 100%;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}

.h1{
    padding-left: 150px ;
}


.h2{ 
    text-align:center;
    width: 100%;}

.h3{
    text-align: absolute;
    padding-right: 150px;}

.d1 {
    text-align: relative;
    text-align: center;
    padding-left: 150px;}

.d2{text-align: center;}

.discription{ 
    font-size: 20px; ; color:darkgrey;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}

.d3 {
    padding-right: 100px;}

.table-s{
    padding-bottom: 50px;}



.nav a{
    
    
    text-decoration: none;
       color:black;
       padding-right: 30px;
       padding-left: 30px;
       font-size: 40px;
       font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
       display:block;
       float: left;
       
       
}

.interieur {
    border-radius: 5px;
    width:50%;}

.connectivty{
    border-radius: 5px;
    width: 50%;
    float: right;}

.interieur-header{
    font-weight: bold;
    font-size: 50px;
    float: right;
    padding-right: 10px;
}





