.nav a{
    text-decoration: none;
    color:black;
    padding-right: 30px;
    padding-left: 30px;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.hero {width: 100%; border-radius: 5px;}
